@import "reset.css";

/*폰트*/
@font-face {
    font-family: 'IBMPlexSansKR-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

h2{
    font-size: 31px;
    font-weight: 500;
    color: #000;
    text-align: center;
    margin: 100px 0 45px 0;
}

h4{
    text-align: right;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.7em;
    color: #636363;
}

h3{
    font-family: 'IBMPlexSansKR-Regular';
    text-align: right;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.8em;
    color: #695556;
}

p{
    font-family: 'IBMPlexSansKR-Regular';
    text-align: right;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.8em;
    color: #695556;
    text-align: center;
    margin: 40px 0 100px 0;
}

body{
    margin: 0 auto;
    /* width: 1170px; */
    height: auto;
    font-family: 'Roboto', sans-serif;
}
/* 폰트 end */


/* header start */
nav{
    margin: 0 auto;
    width: 1170px;
    height: 98px;
    line-height: 98px;
    background-color: white;
}
/* 로고 */
nav>h1{
    float: left;
    height: inherit;
}

nav>h1>img{
    margin-top: 20px;
}
/* 메뉴 */
nav>ul{
    float: right;
}

nav>ul>li{
    display: inline-block;
    padding: 0 24px;
    font-weight: 400;
    font-size: 20px;
}

header>img{
    width: 100%;
    height: 705px;
    object-fit: cover;
    object-position: 50% 80%;
}
/* 링크 */
a{
    text-decoration: none;
    color: black;
}

nav>ul>li>a:hover{
    color: #d6c7b6;
}

/* header end */


/* Intro start */
.introText{
    width: 100%;
    height: 350px;
    background-color: white;
}
#intro div{
    background-color: white;
    margin: 0 auto;
    width: 1170px;
    height: 325px;
}

#intro h3{
    padding-top: 68px;
}

#intro h4{
    margin-top: 35px;
}

#intro {
    background-image: url(/img/photo/main02.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 700px;
    object-fit: cover;
    object-position: 50% 85%;
}
/* Intro end */


/* portfolio start */
#portfolio,#place{
    background-color: white;
    width: 1170px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 230px;
}

/* 버튼 */
#portfolio button{
    font-family: 'IBMPlexSansKR-Regular';
    font-size: 20px;
    color: white;
    background-color: #695556;
    border: none;
    padding: 10px 30px;
    margin: 0 5px 90px;
    cursor: pointer;
    transition-duration: 0.2s;    /* 버튼 애니메이션 효과*/
}

#portfolio button:hover {
    background-color: #3d3131;
}

#portfolio button:first-child{
    background-color: #483d4b;
}

/* 이미지 */
#port-photo{
    width: 1170px;
}

#port-photo img{
    width: 371px;
    height: 380px;
    object-fit: cover;
    margin: 8px;
}

/* portfolio end */


/* contectUs start */
#contectUs{
    background-color: #1f1f1f;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contectUs>h2{
    color: white;
}

#contectUs>p{
    color: white;
}

/* 예약표 */
#reservationForm{
    width: 1170px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    margin-bottom: 115px;
}

#EnterMessage{
    grid-column: 1/4;
    padding-top: 23px;
}

input:last-child{
    grid-column: 1/4;
}

input[type=text]{
    height: 67px;
}

input[type=text],textarea{
    border: 1px solid white;
    opacity: 0.8;
    padding: 0 25px;
    background-color: #1f1f1f;
    color: white;
    font-size: 15px;
}

input[type=submit]{
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    color: white;
    border-style: none;
    background-color: #c2c2c2;
    height: 65px;
    width: 230px;
    margin: 0 auto;
}

input[type=submit]:hover{
    background-color:#c2c2c271;
    cursor: pointer;
}

/* contectUs end */


/* place star */
.mapArea div p{
    text-align: left;
    margin: 0 40px 20px;
    font-size: 18px;
    line-height: 1.5em;
    color: #000;
}

.mapArea h3{
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin: 40px 40px 30px 40px;
}

.mapArea div{
    display: inline-block;
    width: 581px;
    height: 450px;
    margin: -2px;
    overflow: hidden;
}

.mapArea div img{
    object-fit: cover;
}

.mapArea div img:first-child{
    object-position: 20%;
}

.mapArea .mapText:last-child *{
    text-align: right;
}

/* place end */
/* footer start */
footer{
    width: 100%;
    height: 200px;
    background-color: #1f1f1f;
    padding-top: 17px;
}

footer p {
    color: #979797;
    font-size: 14px;
    margin: 10px;
}

footer ul{
    text-align: center;
    margin-top: 30px;
}

footer ul li {
    display: inline-block;
    font-size: 14px;
    color: #979797;
    padding: 0 20px;
}

footer ul li:first-child{
    border-right: 1px solid #979797;
}
