@font-face {
    font-family: 'IBMPlexSansKR-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

h2{
    font-size: 31px;
    font-weight: 500;
    color: #000;
    text-align: center;
    margin: 100px 0 45px 0;
}

h4{
    text-align: right;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.7em;
    color: #636363;
}

h3{
    font-family: 'IBMPlexSansKR-Regular';
    text-align: right;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.8em;
    color: #695556;
}

p{
    font-family: 'IBMPlexSansKR-Regular';
    text-align: right;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.8em;
    color: #695556;
    margin: 40px 0 100px 0;
}


/* banner start */
.banner_img{
    height: 650px;
    width: 100%;
    object-fit: cover;
}

ul>li{
    padding-top: 5px;
}

#navbar>ul>li>a{
    color: black;
    font-size: 16px;
}

/* intro start */
/*
#intro_img{
    height: 230px;
    background-image: url(/img/photo/main02.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
*/

#intro_img{
    height: 230px;
    width: 100%;
    object-fit: cover;
}

.intro_Text{
    margin: 15px 0;
}

/*  portfolio start   */
.title{
    margin-top: 100px;
}

h2{
    margin-top: 30px;
}

#subtext>p{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px;
}

/* btn-style */
#btn_group{
    text-align: center;
    margin-bottom: 70px;
}

#btn_group>button{
    background-color: #695556;
    color: white;
    font-family: 'IBMPlexSansKR-Regular';
    padding: 6px 18px;
}

#btn_group>button:first-child{
    background-color: #483d4b;
}

#img_group>div>img{
    width:100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    text-align: center;
}

#img_group>div{
    padding: 5px;
    height: 380px;
}

/* contact us start */
#contact_section{
    background-color: #1f1f1f;
    margin-top:200px;
}

#form>div>div{
    margin: 15px 0;
    padding: 0 6px;
}

.send_btn{
    margin-top: 10px;
    margin-bottom: 70px;
    color:white;
    background-color: #c2c2c2;
    border-color:#adacac ;
}

.send_btn:hover{
    background-color: #e2ca99;
    border-color:#e2ca99 ;
}

/* place start */
.place_div{
    margin-bottom: 15px;
}

.place_div:last-child{
    margin-bottom: 80px;
}

.Placebox{
    padding: 20px 40px;
}

.placeText{
    margin: 20px 0;
    font-size: 16px;
}

.PlaceTitle{
    font-family:'IBMPlexSansKR-Bold' ;
}

/* footer start */
footer{
    height: 200px;
    width: 100%;
    background-color:#1f1f1f;
}


footer>.row>col-md-12:first-child{
    margin-top: 50px;
}

.footerText{
    font-size: 13px;
    color: rgb(202, 200, 200);
    margin: 10px 0;
    text-align: center;
}